extensions:
	contentSecurityPolicy: Spaze\ContentSecurityPolicy\Bridges\Nette\ConfigExtension

contentSecurityPolicy:
	supportLegacyBrowsers: true
	addNonce:
		script-src: no
		style-src: no
	addStrictDynamic:
		script-src: yes
		style-src: no
	snippets:
		ga:
			img-src:
				- https://www.google-analytics.com
	policies:
		*.*:
			child-src:
				- foo
				- bar
			style-src:
				- foo
				- bar
			script-src:
				- foo
				- bar
