extensions:
	contentSecurityPolicy: Spaze\ContentSecurityPolicy\Bridges\Nette\ConfigExtension

contentSecurityPolicy:
	snippets:
		ga:
			img-src:
				- https://www.google-analytics.com
	policies:
		*.*:
			child-src:
				- foo
				- bar
			style-src:
				- foo
				- bar
			script-src:
				- foo
				- bar
