extensions:
	contentSecurityPolicy: Spaze\ContentSecurityPolicy\Bridges\Nette\CspConfigExtension
	nonceGenerator: Spaze\NonceGenerator\Bridges\Nette\GeneratorExtension

contentSecurityPolicy:
	snippets:
		ga:
			img-src:
				- https://www.google-analytics.com
		ga-override:
			!img-src:
				- https://www.google-analytics.com
				- https://ga.example
	policies:
		*.*:
			child-src:
				- foo
				- bar
			style-src:
				- foo
				- bar
			script-src:
				- foo
				- bar
		bar.foo:
			@extends: *.*
			!script-src: "'none'"
		waldo.fred:
			@extends: *.*
			script-src: "'self'"
		foobar.baz:
			@extends: *.*
			img-src:
				- https://example.com
